In [1]:
import numpy as np
import pandas as pd

1. Разобраться как использовать мультииндексные ключи в данном примере

In [2]:
index = [
    ('city1', 'job1', 2010),
    ('city1', 'job1', 2020),
    ('city1', 'job2', 2010),
    ('city1', 'job2', 2020),
    ('city2', 'job1', 2010),
    ('city2', 'job1', 2020),
    ('city2', 'job2', 2010),
    ('city2', 'job2', 2020),
]

population = [
    101,
    201,
    102,
    202,
    103,
    203,
    104,
    204
]

multi_index = pd.MultiIndex.from_tuples(index, names=['city', 'job', 'year'])

pop_df = pd.DataFrame(
    {
        'total': population,
        'something': [
            10,
            11,
            12,
            13,
            14,
            15,
            16,
            17
        ]
    }, index=multi_index
)

print(pop_df)
print()
print(pop_df.loc['city1', 'something'])
print()
print(pop_df.loc[['city1', 'city2'], ['total', 'something']])
print()
print(pop_df.loc[['city1', 'city2'], 'something'])

                 total  something
city  job  year
city1 job1 2010    101         10
           2020    201         11
      job2 2010    102         12
           2020    202         13
city2 job1 2010    103         14
           2020    203         15
      job2 2010    104         16
           2020    204         17

job   year
job1  2010    10
      2020    11
job2  2010    12
      2020    13
Name: something, dtype: int64

                 total  something
city  job  year
city1 job1 2010    101         10
           2020    201         11
      job2 2010    102         12
           2020    202         13
city2 job1 2010    103         14
           2020    203         15
      job2 2010    104         16
           2020    204         17

city   job   year
city1  job1  2010    10
             2020    11
       job2  2010    12
             2020    13
city2  job1  2010    14
             2020    15
       job2  2010    16
             2020    17
Name: something, dtype: int64

2. Из получившихся данных выбрать данные по

In [3]:
print(pop_df.xs(2020, level='year')) # - 2020 году (для всех столбцов)
print()
print(pop_df.xs('job1', level='job')) # - job1 (для всех строк)
print()
print(pop_df.loc[('city1', 'job2')]) # - для city1 и job2

            total  something
city  job
city1 job1    201         11
      job2    202         13
city2 job1    203         15
      job2    204         17

            total  something
city  year
city1 2010    101         10
      2020    201         11
city2 2010    103         14
      2020    203         15

      total  something
year
2010    102         12
2020    202         13

3. Взять за основу DataFrame со следующей структурой

In [4]:
index = pd.MultiIndex.from_product(
    [
        ['city1', 'city2'],
        [2010, 2020]
    ],
    names=['city', 'year']
)

columns = pd.MultiIndex.from_product(
    [
        ['person1', 'person2', 'person3'],
        ['job1', 'job2']
    ],
    names=['worker', 'job']
)

data = np.random.randint(0, 100, size=(4, 6))
df = pd.DataFrame(data, index=index, columns=columns)

print(df)
print()
print(df.loc[:, ['person1', 'person3']]) # все данные по person1 и person3
print()
idx = pd.IndexSlice
print(df.loc[idx['city1', :], idx[['person1', 'person2'], :]]) # все данные по первому городу и первым двум person-ам (с использование срезов)
print()
print(df.loc[idx['city2', 2020], idx['person3', :]]) # Приведите пример (самостоятельно) с использованием pd.IndexSlice

worker     person1      person2      person3
job           job1 job2    job1 job2    job1 job2
city  year
city1 2010      11   11      61   35      31   64
      2020      47   44      63   75      33   81
city2 2010      53   19      98   21      78    0
      2020      98   23      42   29      99    8

worker     person1      person3
job           job1 job2    job1 job2
city  year
city1 2010      11   11      31   64
      2020      47   44      33   81
city2 2010      53   19      78    0
      2020      98   23      99    8

worker     person1      person2
job           job1 job2    job1 job2
city  year
city1 2010      11   11      61   35
      2020      47   44      63   75

worker   job
person3  job1    99
         job2     8
Name: (city2, 2020), dtype: int32

4. Привести пример использования inner и outer джойнов для Series

In [5]:
ser1 = pd.Series(['a', 'b', 'c'], index=[1, 2, 3])
ser2 = pd.Series(['b', 'c', 'd'], index=[2, 3, 4])

print(ser1)
print(ser2)
print()

# outer объединение сохраняет все индексы из обоих Series, а для отсутствующих значений использует NaN
print(pd.concat([ser1, ser2], axis=1, join='outer'))
print()
# inner объединение сохраняет только общие индексы из обоих Series
print(pd.concat([ser1, ser2], axis=1, join='inner'))

1    a
2    b
3    c
dtype: object
2    b
3    c
4    d
dtype: object

     0    1
1    a  NaN
2    b    b
3    c    c
4  NaN    d

   0  1
2  b  b
3  c  c